body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: lightseagreen;
}

p {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: lightgrey;
    margin: 2px auto;
    padding: 4px;
}

#view-scores {
    width: 50%;

}

#timer {
    width: 50%;
    text-align: right;
}

header {
    display: flex;
}

#questions {
    margin: auto;
    width: min-content;
    min-width: 50%;
}

#questions h1 {
    text-align: center;
}

#questions p {
    text-align: center;
}

#scores {
    margin: auto;
    margin-top: 10vw;
    width: min-content;
    min-width: 50%;
}

.start-flex {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: min-content;
}

button {
    /* width: min-content; */
    width: max-content;
    margin: 2px 0;
    padding: 8px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: lightseagreen;
}

.flex-container button {
    text-align: left;
    width: 100%;
    /* margin: 2px 0;
    padding: 8px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px; */
}

.result {
    margin: 8px 0;
    padding: 4px;
    border-top: 1px solid;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

#submit-score {
    margin: 0 4px;
    padding: 7px;
}

label {
    margin: 0 2px;
    padding: 4px;
}

input {
    margin: 0 2px;
    padding: 4px;
}

#high-scores button {
    margin: 0;
    margin-right: 8px;
}

.input-box {
    margin: auto;
    text-align: center;
}